*{
    text-align: center;
}

h1{
    color: #2759a8;
}

h2{
    color: #82858A;
}

.visor{
    height: 500px;
}

#cesiumViewer{
    width: 100%;
    height: 500px;
}

.semanas{
 /* cuadros de las semanas*/
 width: max-content;
 height: 200px;
}

.convenciones{
    width: max-content;
    height: 350px;
    display: inline-block;
    
}

.rojo{
    background-color: red;
    border-radius: 10px;
    border: none;
    padding: 3px 20px;
}

.amarillo{
    background-color: #FFE63D;
    border-radius: 10px;
    border: none;
    padding: 3px 20px;
}
